.pybuild/
build/
debian/.debhelper/
debian/files
debian/gnome-shell-extension-onboard.debhelper.log
debian/gnome-shell-extension-onboard.substvars
debian/gnome-shell-extension-onboard/
debian/onboard-common.debhelper.log
debian/onboard-common.substvars
debian/onboard-common/
debian/onboard-data.debhelper.log
debian/onboard-data.substvars
debian/onboard-data/
debian/onboard.debhelper.log
debian/onboard.postinst.debhelper
debian/onboard.postrm.debhelper
debian/onboard.prerm.debhelper
debian/onboard.substvars
debian/onboard/
debian/tmp/
po/onboard.pot
debian/debhelper-build-stamp
onboard.egg-info/
Onboard/osk.cpython-310-x86_64-linux-gnu.so
Onboard/pypredict/lm.cpython-310-x86_64-linux-gnu.so
Onboard/__pycache__/
Onboard/pypredict/__pycache__/
