include AUTHORS COPYING NEWS README
include settings.ui settings_theme_dialog.ui settings_scanner_dialog.ui settings_docking_dialog.ui settings_suggestion_dialog.ui
include onboard-defaults.conf.example
include onboard-defaults.conf.example.nexus7
recursive-include data *
recursive-include icons *
recursive-include sounds *
recursive-include docs *
recursive-include layouts *
recursive-include scripts *
recursive-include themes *
recursive-include po *.po
recursive-include Onboard/osk *
recursive-include Onboard/pypredict *
recursive-include Onboard/test *
