include AUTHORS COPYING NEWS README settings.ui settings_theme_dialog.ui
recursive-include data *
recursive-include docs *
recursive-include layouts *
recursive-include scripts *
recursive-include themes *
recursive-include po *.po
