[org.onboard]
layout='Compact'
theme='Nightshade'
key-label-font='Ubuntu'
key-label-overrides=['RWIN::super-group', 'LWIN::super-group']
xembed-onboard=true

[org.onboard.window]
docking-enabled=true
force-to-top=true

