#
# Onboard system defaults
#
# System defaults control the initial appearance, aka branding,
# of Onboard in display manager (gdm, LightDM) and user sessions.
#
# Place this file in the projects installation directory (e.g. 
# /usr/share/onboard) and/or in /etc/onboard/.
#
# Keys have to start in column 0. A whitespace in column 0 indicates
# a line continuation.
#

[main]

# Window position and size
# The default x and y position, width and height of Onboards main window.
#
# Examples:
#x=40
#y=40
#width=800
#height=300

# Default layout
# Specify full path and filename or only the base name of the initial layout.
#
# Examples:
#layout=/usr/share/onboard/layouts/Classic Onboard.onboard
#layout=Compact
#layout=Full Keyboard

# Default theme
# Specify full path and filename or only the base name of the initial theme.
#
# Examples:
#theme=/usr/share/onboard/themes/Ambiance.theme
#theme=Ambiance
#theme=Droid

# Key label font
# Family and attributes of the default font.
# Recognized font attributes are bold, italic and condensed.
#
# Examples:
#key-label-font=Normal bold italic condensed
#key-label-font=Ubuntu condensed
#key-label-font=Ubuntu

# Super key label
# Default label override for left and right super keys.
# Replaces the super key labels specified in Onboards layout files.
#
# Examples:
#superkey-label=Super
#superkey-label=

# Super key label, independent size
# If set to True/yes/1, super keys will scale their label in their own
# independent size group. Otherwise, the default size group of the
# layout stays in effect, usually resulting in the same label size for all 
# modifier keys (Ctrl, Super, Alt).
#
# Examples:
#superkey-label-independent-size=True

# Other available keys
#snippets = {7 : ["sample\\nlabel", "sample"]}
#key-label-overrides = {"LWIN": ["win", "super"]}
#enable-scanning = False
#scanning-interval = 750
#show-status-icon = True
#start-minimized = False
#xembed-onboard = True
#current-settings-page = 0


[icon-palette]
#in-use=True
#x=40
#y=40
#width=80
#height=80


[gnome-screen-saver]
#embedded-keyboard-enabled=True
#embedded-keyboard-command=onboard --xid

