Source: python-virtkey
Section: python
Priority: optional
Build-Depends: debhelper, python2.4-dev, python (>= 2.4), gcc (>= 4:4.0), libx11-dev, libxext-dev, libxtst-dev
Maintainer: Chris Jones <cej105@soton.ac.uk>
Standards-Version: 3.6.1

Package: python-virtkey
Architecture: any
Depends: python2.4,libx11-6,libxext6, libxtst6
Description: Library to emulate keyboard keypresses.
  Emulate keypresses from characters, keysyms and modifiers.

