Package: onboard
Version: 0.81
Section: gnome
Priority: optional
Architecture: all
Depends: python-central (>= 0.5), python, python-cairo, python-gtk2, python-virtkey, python-xml, python-gnome2
Installed-Size: 260
Maintainer: Chris Jones <cej105@soton.ac.uk>
Description: Simple On-screen Keyboard
 Simple On-screen Keyboard with macros and easy layout creation.
Python-Version: current
