[Desktop Entry]
Encoding=UTF-8
Name=onBoard
GenericName= onBoard onscreen keyboard
Comment=Flexible onscreen keyboard for gnome
Exec=onboard
Terminal=false
Type=Application
Categories=Application;Accessibility;
NoDisplay=true
Version=0.81
MimeType=application/x-onboard
Icon = /usr/share/onboard/data/onboard.svg
