[Desktop Entry]
Name=onBoard Settings
GenericName= onBoard onscreen keyboard settings
Comment=Change onBoard settings
Exec=onboard-settings
Terminal=false
Type=Application
#Categories=Applications;Accessibility;
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;Accessibility;
NoDisplay=true
MimeType=application/x-onboardsettings;
Icon = /usr/share/onboard/data/onboard.svg
