Source: onboard
Section: gnome
Priority: optional
Build-Depends: debhelper (>> 5),python
Maintainer: Chris Jones <cej105@soton.ac.uk>
Standards-Version: 3.7.2
XS-Python-Version: 2.4

Package: onboard
Architecture: all
Depends: python2.4, python-cairo, python2.4-gtk2, python2.4-virtkey, python2.4-xml, python2.4-gnome2
XB-Python-Version: ${python:Versions}
Description: Simple On-screen Keyboard
  Simple On-screen Keyboard with macros and easy layout creation.

