[Desktop Entry]
Version=0.81
Encoding=UTF-8
Name=onBoard
GenericName= onBoard onscreen keyboard
Comment=Flexible onscreen keyboard for gnome
Exec=onboard
Terminal=false
Type=Application
MimeType=application/x-onboard;
Icon = /usr/lib/onboard/onboard.svg
GenericName[en_GB]= onBoard onscreen keyboard
