#!/usr/bin/make -f

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	mkdir -p debian/onboard/usr/lib/onboard
	
	cp -a ./*.py debian/onboard/usr/lib/onboard
	cp -a ./*.glade* debian/onboard/usr/lib/onboard
	cp -a ./layouts debian/onboard/usr/lib/onboard
	cp -a ./scripts debian/onboard/usr/lib/onboard
	cp -a ./*.svg debian/onboard/usr/lib/onboard

	mkdir debian/onboard/usr/bin
	cp debian/onboard.sh debian/onboard/usr/bin/onboard
	cp debian/onboard-settings.sh debian/onboard/usr/bin/onboard-settings
	
	mkdir -p debian/onboard/usr/share/applications
	cp debian/onboard.desktop debian/onboard/usr/share/applications	
	cp debian/onboard-settings.desktop debian/onboard/usr/share/applications	
	

binary-indep:install 
	
	dh_testdir
	dh_testroot

	#dh_installdocs -i AUTHORS README
	#dh_installchangelogs -i ChangeLog
	
	dh_desktop -i
	dh_strip -i
	#dh_compress -i
	dh_fixperms -i
	dh_python -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	#dh_md5sums -i
	dh_builddeb -i
	#chown -R root:root debian/sok
	#chmod -R u+w,go=rX debian/sok
	#dpkg --build debian/sok..

binary: binary-indep 
.PHONY: build clean binary-indep  binary
