[Desktop Entry]
Name=onBoard Settings
GenericName= onBoard onscreen keyboard settings
Comment=Change onBoard settings
Exec=onboard-settings
Terminal=false
Type=Application
Categories=GNOME;GTK;Accessibility;X-GNOME-PersonalSettings;
NoDisplay=false
MimeType=application/x-onboardsettings;
Icon=/usr/share/onboard/data/onboard.svg
